[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
advanced-alchemy = "*"
pydantic = "*"
sqlalchemy = "*"
litestar = {extras = ["standard"], version = "*"}
aiosqlite = "*"
opencv-python = "*"
pygithub = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
